#kviz-doboz {
    text-align: center;
    color: white;
    max-width: 80%;
}

#valasz-opciok {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 20px;
}

#kerdes {
    margin-bottom: 30px;
    font-size: 1.5rem;
    
}
#kerdes-szoveg{
    font-size: xx-large;
}

button {
    background-color: #22222200;
    border: #22222200;
    font-size: x-large;
    cursor: pointer;
}

.valasz-btn:hover {
    background-color: #ffd700;
    color: #222;
}

.rejtett {
    display: none;
}
#vege-uzenet{
    display:none; 
    color:white;
    font-size: xx-large;
}

.ujra{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
}

#ranglista-doboz {
    position: fixed;
    right: 20px;
    top: 80px;
    width: 250px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    color: white;
    font-family: sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#ranglista-doboz h3 {
    margin-top: 0;
    text-align: center;
    border-bottom: 1px solid gold;
    padding-bottom: 5px;
    color: gold;
}

#ranglista-elemek {
    list-style: none;
    padding: 0;
    margin: 0;
}

#ranglista-elemek li {
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
}

#ranglista-elemek li:last-child {
    border-bottom: none;
}